@use '../../../styles/theme.module.scss' as theme;

.icon {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;

    path {
      transition: clip-path var(--theme-transition-fast);
      clip-path: var(--clipPath);
    }
  }
}