@use '../../styles/theme.module.scss' as theme;
@use '../../styles/mixins.module.scss' as mixins;

.frame {
  position: absolute;
  top: mixins.uiSize(12);
  left: mixins.uiSize(12);
  font-size: mixins.uiSize(12);
  line-height: mixins.uiSize(14);
  font-family: 'Open Sans', sans-serif;
  opacity: 0;
  transition: var(--theme-transition-slow);

  &.active {
    opacity: 1;
  }

  &.partial {
    opacity: 0.75;
  }
}

.messages {
  width: 30vh;
  height: 20vh;
  overflow-y: scroll;
  color: var(--theme-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  ::-webkit-scrollbar {
    display: none;
  }
}

.message {
  display: inline-block;
  border-radius: var(--theme-radius-sm);
  background-color: var(--theme-black);
  padding: mixins.uiSize(4) mixins.uiSize(6);
  margin-bottom: mixins.uiSize(4);
  scroll-behavior: smooth;
}

.channel {
  display: inline-block;
  font-size: mixins.uiSize(8);
  font-weight: 600;
  margin-right: mixins.uiSize(4);
  user-select: none;
  transform: translateY(-#{mixins.uiSize(1.75)});
}

.sender {
  display: inline-block;
  font-weight: 600;
  font-size: mixins.uiSize(10);
  margin-right: mixins.uiSize(2);
  transform: translateY(-#{mixins.uiSize(1)});

  &:after {
    content: ':';
  }
}

.input {
  display: flex;
  padding: mixins.uiSize(2) mixins.uiSize(6);
  border-radius: var(--theme-radius-sm);
  background-color: var(--theme-black);
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  input {
    flex-grow: 1;
    border: none;
    background: transparent;
    outline: none;
    color: currentColor;
    line-height: mixins.uiSize(17);
  }
}