@use '../../styles/theme.module.scss' as theme;
@use '../../styles/mixins.module.scss' as mixins;

.container {}

.modal {
  position: absolute;
  top: mixins.uiSize(91); // = (1080 - 898) / 2
  width: mixins.uiSize(555.5);
  height: mixins.uiSize(898);
  background-image: url(https://p--v.b-cdn.net/customization/background.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: var(--theme-white);
  font-family: 'Caveat', cursive;
  user-select: none;

  input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px dashed var(--theme-gray50);
    font-size: mixins.uiSize(30);
    color: var(--theme-white);

    &:focus {
      outline: none;
      border-bottom-color: var(--theme-white);
    }
  }
}

.modalLeft {
  @extend .modal;
  right: mixins.uiSize(1337);
}

.modalRight {
  @extend .modal;
  left: mixins.uiSize(1337);
}

.modalContents {
  position: absolute;
  inset: mixins.uiSize(75) mixins.uiSize(60) mixins.uiSize(60);
  //padding: mixins.uiSize(40) mixins.uiSize(60);
  overflow: auto;

  > * {
    max-width: 99%;
  }

  &::-webkit-scrollbar {
    width: mixins.uiSize(2);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.75);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #000;
  }
}

.modalTitle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-size: mixins.uiSize(50);
  transform: translateY(-50%);
}

.modalButtons {
  position: absolute;
  bottom: mixins.uiSize(40);
  right: mixins.uiSize(60);
  left: mixins.uiSize(30);
  transform: translateY(50%);
  display: flex;
  justify-content: space-between;
  font-size: mixins.uiSize(18);
}

.modalButton {
  padding: mixins.uiSize(10) mixins.uiSize(20);
  background-color: transparent;
  border: none;
  color: var(--theme-white);

  &:hover,
  &.active {
    color: var(--theme-red);
  }

  svg {
    height: mixins.uiSize(24);
  }
}

.modalButtonDisabled {
  opacity: 0.1;
  pointer-events: none;
}

.confirmButtons {
  position: absolute;
  bottom: mixins.uiSize(9);
  right: mixins.uiSize(19);
  transform: translateX(38%);
  display: flex;
  gap: mixins.uiSize(20);
}

.confirmButton {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--theme-white);

  &:hover,
  &.active {
    color: var(--theme-red);

    &:nth-child(2) {
      color: var(--theme-green);
    }
  }

  svg {
    width: mixins.uiSize(26);
    height: mixins.uiSize(26);
  }
}

.bottomControls {
  position: absolute;
  bottom: mixins.uiSize(16);
  width: 25vw;
  left: 50%;
  transform: translateX(-50%);
}

.exitModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: mixins.uiSize(24);
  padding: mixins.uiSize(24) mixins.uiSize(32);
  font-family: 'Caveat', cursive;

  background-color: rgba(0,0,0,0.75);
  color: var(--theme-white);

  opacity: 0;
  transition: opacity var(--theme-transition-normal);
  will-change: opacity;

  &:not(.show) {
    pointer-events: none;
  }

  &.show {
    opacity: 1;
  }
}

.exitModalButtons {
  display: flex;
  justify-content: center;
  gap: mixins.uiSize(32);
  margin-top: mixins.uiSize(16);

  button {
    background: transparent;
    border: none;
    color: var(--theme-white);

    &:hover {
      color: var(--theme-red);
    }
  }

  svg {
    width: mixins.uiSize(24);
    height: mixins.uiSize(24);
  }
}
