@use '../../../styles/mixins.module.scss' as *;

.tintSwatches {
  display: flex;
  justify-content: center;
}

.tintSwatch {
  border-radius: uiSize(3);
  display: block;
  image-rendering: pixelated;

  &.first {
    width: 100%;
    height: 100%;
  }
}
